<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1, lblClass:'custom-checkbox'}" contentAs="elementContent">        
        <label class="custom-checkbox" for="{element.uniqueIdentifier}">
            <f:format.raw>
                <f:translate key="privacy" extensionName="ns_theme_hohenlohe" />
            </f:format.raw>
            <f:form.checkbox
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"     
                class="{element.properties.elementClassAttribute}"          
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            />
            <span class="custom-chk"></span>
        </label>        
    </f:render>
</formvh:renderRenderable>
</html>
