<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="table">
        <tr>
            <th colspan="2">
                <h2>
                    <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_db.xlf:wizard.{data.CType}" />
                </h2>
            </th>
        </tr>
        <tr>
            <td>
                <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.layout" />
            </td>
            <td>
                <f:switch expression="{flexformData.layout}">
                    <f:case value="100">
                        <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.100" />
                    </f:case>
                    <f:case value="33">
                        <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.33_66" />
                    </f:case>
                    <f:case value="66">
                        <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.66_33" />
                    </f:case>
                    <f:case value="50">
                        <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.50_50" />
                    </f:case>
                </f:switch>
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.container" />
            </td>        
            <td>                
                <f:switch expression="{flexformData.container}">
                    <f:case value="fluid">
                        <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.fluid" />
                    </f:case>
                    <f:case value="container">
                        <f:translate key="LLL:EXT:ns_theme_hohenlohe/Resources/Private/Language/locallang_flex.xlf:general.container" />
                    </f:case>
                </f:switch>
            </td>
        </tr>
    </table>
</html>